<div class="jumbotron">
  <h2>Captcha challenge</h2>
  <form action="/" method="GET">
    <input required type="text" name="captcha">
    <input type="submit">
  </form>
  <%= if assigns[:captcha] && assigns[:answer] do %>
    <h3 id="answer">the answer to captcha <%= @captcha %> is <%= @answer %></h3>  
  <% end %>
   
  <%= if assigns[:error_message] do %>
    <h3 id="error">Error: <%= @error_message %></h3>  
  <% end %>

</div>